@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #161616;
  --bg-gradient: #c5220d93;
  --hover-red-btn: #c5220d;
  --hover-dark-btn: #212121;
  --main-button: #af1918;
  --secondary-button: #530061;
  --hover-purple-btn: #67007a;
  --overlay: #00000051;
  --banner-bg: #540c0c;
  --logo-bg: #931f1f;
  --bg-dark: #181818;
  --circle-gradient: radial-gradient(
    circle,
    rgba(118, 44, 168, 1) 0%,
    rgba(83, 0, 97, 1) 43%,
    rgba(13, 10, 48, 1) 100%
  );

  --bg-gradient: linear-gradient(
    90deg,
    rgba(138, 28, 14, 1) 0%,
    rgba(82, 8, 47, 1) 46%,
    rgba(52, 1, 38, 1) 85%
  );

  --font-playfair: "Playfair Display", serif;
  --font-lato: "Lato", sans-serif;

  --inner-box-shadow: inset 0px 5px 4px 0px rgba(26, 26, 26, 0.24);

  --user-card: #36303b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: lightMode) {
  :root {
    --background: #ffd2a0;
    --foreground: #000;
  }
}

.light {
  --foreground: #f8ede3;
  --header-bg: #e5d0ac;
  --text-main: #161616;
  --background: #f8ede3;
  --profile-bg: #bf3131;
  --input: #7d7d7d;
  --input-col: rgba(136, 98, 143, 0.469);
  --btn-bg: #f8ede3;
  --btn-col: #161616;
  --footer-bg: #e4e0e1;
  --hover-dark-btn: #ccc;
  --main-button: #af1918;
  --bg-auth: #b99470;
  --auth-form: #795757;
}

.dark {
  --header-bg: #cba35c;
  --text-main: #fff;
  --background: #161616;
  --profile-bg: #540c0c;
  --btn-bg: #161616;
  --hover-dark-btn: #444444;
  --footer-bg: #2a3335;
  --hover-dark-btn: #212121;
  --main-button: #8c1515;
  --bg-auth: #1f1f1f;
  --auth-form: #181818;
  /* --profile-bg: linear-gradient(
    0deg,
    rgba(101, 44, 139, 1) 0%,
    rgba(103, 0, 120, 0.9150035014005602) 49%,
    rgba(77, 34, 102, 1) 100%
  ); */
  --input-col: rgba(112, 62, 62, 0.548);
}

.custom-gradient {
  background: var(--profile-bg);
}

.input {
  background: var(--input);
}

body {
  /* color: var(--foreground); */
  background: var(--background);
  font-family: var(--font-lato), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: var(--font-playfair), Arial, Helvetica, sans-serif;
  font-weight: 700;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.animated-image {
  transition: transform 0.5s ease-in-out;
}

.animated-image:hover {
  transform: scale(1.1);
}

input,
textarea {
  outline: none;
}
