@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111111;
  --bg-gradient: #c5220d93;
  --hover-red-btn: #c5220d;
  --hover-dark-btn: #212121;
  --main-button: #af1918;
  --secondary-button: #530061;
  --hover-purple-btn: #67007a;
  --overlay: #00000051;
  --banner-bg: #540c0c;
  --logo-bg: #941f1f;
  --bg-dark: #181818;
  --circle-gradient: radial-gradient(
    circle,
    rgba(118, 44, 168, 1) 0%,
    rgba(83, 0, 97, 1) 43%,
    rgba(13, 10, 48, 1) 100%
  );
  --bg-gradient: linear-gradient(
    90deg,
    rgba(138, 28, 14, 1) 0%,
    rgba(82, 8, 47, 1) 46%,
    rgba(52, 1, 38, 1) 85%
  );

  --font-playfair: "Playfair Display", serif;
  --font-lato: "Lato", sans-serif;

  --inner-box-shadow: inset 0px 5px 4px 0px rgba(26, 26, 26, 0.24);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-lato), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: var(--font-playfair), Arial, Helvetica, sans-serif;
  font-weight: 700;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.animated-image {
  transition: transform 0.5s ease-in-out;
}

.animated-image:hover {
  transform: scale(1.1);
}

input, textarea {
  outline: none;
}
