@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111111;
  --bg-gradient: #c5220d93;
  --hover-red-btn: #c5220d;
  --hover-dark-btn: #212121;
  --main-button: #af1918;
  --secondary-button: #530061;
  --hover-purple-btn: #67007a;
  --overlay: #00000051;
  --circle-gradient: radial-gradient(
    circle,
    rgba(118, 44, 168, 1) 0%,
    rgba(83, 0, 97, 1) 43%,
    rgba(13, 10, 48, 1) 100%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
